<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pathToFile" value="vacancies.txt"/>
		<add key="url" value="https://jobs.dou.ua/"/>
		<add key="technology" value=".NET"/>
		<add key="experiencesList" value="&lt; 1 року;1…3 роки;3…5 років"/>
	</appSettings>
</configuration>